@font-face {
    font-family: fontello;
    src: url(../font/fontello.eot?12415670);
    src: url(../font/fontello.eot?12415670#iefix) format('embedded-opentype'),url(../fonts/fontello.woff?12415670) format('woff'),url(../font/fontello.ttf?12415670) format('truetype'),url(../font/fontello.svg?12415670#fontello) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"]:before,[class^=icon-]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-mail:before {
    content: '\e800'
}

.icon-mail-alt:before {
    content: '\e801'
}

.icon-comment-empty:before {
    content: '\e802'
}

.icon-rss:before {
    content: '\e803'
}

.icon-user:before {
    content: '\e804'
}

.icon-facebook:before {
    content: '\e805'
}

.icon-gplus-old:before {
    content: '\e806'
}

.icon-twitter:before {
    content: '\e807'
}

.icon-menu:before {
    content: '\e808'
}

.icon-location:before {
    content: '\e809'
}

.icon-map:before {
    content: '\e80a'
}

.icon-phone:before {
    content: '\e80b'
}

.icon-wordpress:before {
    content: '\e80c'
}

.icon-youtube:before {
    content: '\e80d'
}

.icon-youtube-play:before {
    content: '\e80e'
}

.icon-star:before {
    content: '\e80f'
}

.icon-star-half:before {
    content: '\e810'
}

.icon-download:before {
    content: '\e811'
}

.icon-camera-alt:before {
    content: '\e812'
}

.icon-camera:before {
    content: '\e813'
}

.icon-attach:before {
    content: '\e814'
}

.icon-calendar:before {
    content: '\e815'
}

.icon-calendar-1:before {
    content: '\e816'
}

.icon-facebook-squared:before {
    content: '\e817'
}

.icon-picture:before {
    content: '\e818'
}

.icon-angle-left:before {
    content: '\e819'
}

.icon-angle-right:before {
    content: '\e81a'
}

.icon-star-empty:before {
    content: '\e81b'
}

.icon-tag:before {
    content: '\e81c'
}

.icon-yelp:before {
    content: '\e81d'
}

.icon-instagramm:before {
    content: '\e81e'
}

.icon-pinterest:before {
    content: '\e81f'
}

.icon-gplus-squared:before {
    content: '\e820'
}

.icon-youtube-squared:before {
    content: '\e821'
}

.icon-linkedin:before {
    content: '\e822'
}

.icon-linkedin-squared:before {
    content: '\e823'
}

.icon-tnt:before {
    content: '\e824'
}

.icon-angle-down:before {
    content: '\e825'
}

.icon-right-circled2:before {
    content: '\e826'
}

.icon-doc-text:before {
    content: '\e827'
}

.icon-article-alt:before {
    content: '\e828'
}

.icon-yahoo:before {
    content: '\e829'
}

.icon-endo:before {
    content: '\e82a'
}

.icon-tooth:before {
    content: '\e82b'
}

.icon-ortho:before {
    content: '\e82c'
}

.icon-perio:before {
    content: '\e82d'
}

.icon-toothcosmetic:before {
    content: '\e82e'
}

.icon-pencil:before {
    content: '\e82f'
}

.icon-home:before {
    content: '\e830'
}

.icon-building:before {
    content: '\e831'
}

.icon-ok:before {
    content: '\e832'
}

.icon-play-circled2:before {
    content: '\e833'
}

.icon-help-circled:before {
    content: '\e834'
}

.icon-chat:before {
    content: '\e835';
}

.icon-calendar-2:before {
    content: '\e836'
}

.icon-files:before {
    content: '\e837'
}

.icon-quote:before {
    content: '\e838'
}

.icon-clock:before {
    content: '\e839'
}

.icon-angle-up:before {
    content: '\e83a'
}

.icon-angle-double-right:before {
    content: '\e83b'
}

.icon-angle-double-left:before {
    content: '\e83c'
}

.icon-paper-plane-empty:before {
    content: '\e83d'
}

.icon-foursquare:before {
    content: '\e83e'
}

.icon-facebook-official:before {
    content: '\e83f'
}

.icon-plus:before {
    content: '\e840'
}

.icon-minus:before {
    content: '\e841'
}

.icon-minus-squared-alt:before {
    content: '\e842'
}

.icon-plus-squared-alt:before {
    content: '\e843'
}

.icon-right-dir:before {
    content: '\e844'
}

.icon-left-dir:before {
    content: '\e845'
}

.icon-gplus:before {
    content: '\e846'
}

.icon-search:before {
    content: '\e847'
}

.icon-toothbrush-paste:before {
    content: '\e848'
}

.icon-toothbrush:before {
    content: '\e849'
}
